.App {
  position: relative;
  text-align: center;
  background: url('./b5e.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.overlay-filter {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-navbar {
  background-color: black;
  padding: 10px;
}

.App-navbar-brand {
  color: white;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-section {
  padding: 20px;
  color: white;
}

.App-footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
